// cf: https://github.com/google/docsy/blob/main/assets/scss/_variables.scss

$primary: #1D2021;

$dark: #1D2021;

$enable-rounded: true;
$enable-gradients: true;
$enable-shadows: true;

$google_font_name: 'Ubuntu';
$font-family-monospace: 'Ubuntu Mono', monospace;

